.l2-integrations {
  color: var(--kagi-orange);
}
.top-l2-integrations-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  z-index: 2;
  font-family: inherit;
}
.top-l2-integrations-wrapper {
  width: 1199px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child7 {
  position: absolute;
  top: 193px;
  left: 0;
  width: 129px;
  height: 129px;
  z-index: 2;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--kagi-white);
  border: 0 solid var(--kagi-green);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 2px #19363A;
}
.image-17-icon {
  position: absolute;
  top: 23px;
  left: 23px;
  width: 84px;
  height: 84px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent,
.ellipse-parent1 {
  position: absolute;
  top: 92px;
  left: 214px;
  width: 129px;
  height: 129px;
  z-index: 2;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent1 {
  top: 0;
  left: 642px;
}
.ellipse-container,
.ellipse-parent1 {
  left: 428px;
}
.ellipse-parent1 {
  top: 193px;
  left: 1070px;
}
.frame-child11,
.kagi-finance-icon {
  position: absolute;
  top: 300px;
  left: 526px;
  width: 149px;
  height: 113px;
  z-index: 2;
}
.kagi-finance-icon {
  top: 439px;
  left: 374px;
  width: 453.6px;
  height: 46.2px;
}
.image-17-icon1,
.vector-icon {
  position: absolute;
  top: 152px;
  left: 3.5px;
  width: 1194.5px;
  height: 414.5px;
  z-index: 3;
}
.image-17-icon1 {
  top: 216px;
  left: 23px;
  width: 84px;
  height: 84px;
  object-fit: cover;
  z-index: 6;
}
.frame-child12,
.image-20-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-20-icon1 {
  top: 23px;
  left: 23px;
  width: 84px;
  height: 84px;
  object-fit: cover;
  z-index: 6;
}
.frame-parent1 {
  position: absolute;
  top: 92px;
  left: 856px;
  width: 129px;
  height: 129px;
}
.frame-div {
  width: 1199px;
  height: 566.5px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: 30px;
}
.integrations-container,
.integrations2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.integrations2 {
  height: 95vh;
  flex: 1;
  background-color: #fbebe5;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-75xl);
  z-index: 5;
  padding-top: 104px;
}
.integrations-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  margin-top: -2px;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--kagi-green);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 1400px) {
  .integrations2 {
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-410xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .top-l2-integrations-container {
    font-size: var(--font-size-32xl);
  }
  .integrations2 {
    gap: var(--gap-28xl);
    padding-bottom: var(--padding-260xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .top-l2-integrations-container {
    font-size: var(--font-size-19xl);
  }
  .integrations2 {
    gap: var(--gap-4xl);
  }
}
