.header-section {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  min-height: 100vh; 
  box-sizing: border-box; 
  overflow: hidden;

  background-image: url('/assets/background.png');
  background-size: auto 120%; 
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.highlight {
  color: var(--kagi-orange); /* Bitcoin Orange */
  font-weight: bold;
}

.subtitle {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--kagi-orange);
  margin-top: 20px;
}

.title-text{
  animation: float 6s infinite ease-in-out;
}

@keyframes float2 {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}