.header-section {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  min-height: 100vh; 
  box-sizing: border-box; 
  overflow: hidden;

  background-image: url('../../assets/background.png'); /* Replace with your image URL */
  background-size: auto 120%; 
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.highlight {
  color: var(--kagi-orange); /* Bitcoin Orange */
  font-weight: bold;
}

.subtitle {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--kagi-orange);
  margin-top: 20px;
}
