  .group-icon {
    width: 82px;
    height: 82px;
    position: relative;
    z-index: 3;
    transition: all 0.3s ease;
  }

  .liquidity-locks {
    /* position: relative; */
    font-weight: 600;
    z-index: 1;
  }
  .rectangle-container {
  width: 363px;
  border-radius: var(--br-xs);
  background-color: var(--kagi-white);
  border: 2px solid var(--kagi-orange);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  padding: var(--padding-8xl) var(--padding-xl) var(--padding-6xl) var(--padding-16xl);
  gap: var(--gap-xs);
  white-space: nowrap;
  max-width: 100%;
  z-index: 2;
  font-size: var(--font-size-13xl);
  color: var(--kagi-green);
  font-family: var(--font-red-hat-display);
  transition: all 0.3s ease;
}


.rectangle-container:hover {
  background-color: var(--kagi-orange); 
  border-color: var(--kagi-orange); 
  color: var(--kagi-white); 
  cursor: pointer;
  /* filter: brightness(100%) contrast(100%);  */
}

.rectangle-container:hover .group-icon {
  content: attr(data-hover-image); 
  transform: scale(1.05); 
}

