.frame-child13,
.want-to-lock {
  position: relative;
  max-width: 100%;
}
.frame-child13 {
  height: 243px;
  width: 1366px;
  box-shadow: 10px 13px 14px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--kagi-green);
  display: none;
}
.want-to-lock {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.kagi-allows-companies {
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--kagi-orange);
  text-align: left;
  z-index: 1;
}
.lock-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.group-icon1 {
  height: 151.9px;
  width: 112px;
  position: relative;
  z-index: 1;
}
.rectangle-parent3 {
  align-self: stretch;
  box-shadow: 10px 13px 14px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--kagi-green);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-18xl) var(--padding-77xl) var(--padding-35xl-1)
    var(--padding-42xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child14,
.kagi-logo-icon {
  position: relative;
  max-width: 100%;
  
}
.kagi-logo-icon {
  width: 368px;
  max-height: 100%;
}
.frame-child14 {
  align-self: stretch;
  height: 39.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-content-inner {
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-4);
  box-sizing: border-box;
  gap: var(--gap-xs);
  color: var(--kagi-orange);
}
.logo-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.logo-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-25xl);
  box-sizing: border-box;
}
.frame-parent2,
.logo-content-wrapper,
.website-layout-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-62xl);
}
.website-layout-child {
  flex-direction: row;
  padding:  var(--padding-54xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--kagi-white);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 1400px) {
  .rectangle-parent3 {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
  .logo-content-wrapper {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .want-to-lock {
    font-size: var(--font-size-32xl);
  }
  .rectangle-parent3 {
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .logo-content {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    gap: var(--gap-21xl);
  }
  .website-layout-child {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .want-to-lock {
    font-size: var(--font-size-19xl);
  }
  .kagi-allows-companies {
    font-size: var(--font-size-lgi);
  }
  .frame-parent2 {
    gap: var(--gap-xl);
  }
}
